<p>Hello,</p>
<p>Good news. Somebody wants to eat with you.</p>
<p>Please visit <a href="https://desolate-plateau-3067.herokuapp.com/">Where2Eat</a> and Sign Up so they can invite you!</p>
<p>Thanks,</p>
<p>Your friends at Where2Eat</p>