<p>Hello,</p>
<p>Good news. Somebody wants to eat with you at <%=@event.name_of_event%> 
   on <%=event.event_date.strftime("%a %b %e %Y")%>.</p>
<p>Please login at 
   <a href="https://desolate-plateau-3067.herokuapp.com/">Where2Eat</a> and choose your preferences!</p>
<p>Thanks,</p>
<p>Your friends at Where2Eat</p>