<!DOCTYPE html>
<html>
  <head>
    <title>Where do you wnat to eat today?</title>
    <link type="text/css" rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <header>
      <div id="logo"><h1>Where2Eat</h1></div>
      <nav id="home">
      <a href="/" >home</a>
      </nav>
      <div id="login">
        <% if !current_user? %>
          <form action="/login" method="post">
            <label>email
              <input type='text' name='email'/>
            </label>
            <label>password
              <input type='password' name='password'/>
            </label>
              <input type ="submit" value="login"/>
          </form>
        <%else%>
          <p> <a href="/user"><%=current_user.name %>'s events</a></p>
          <a href="/logout" > logout</a>
        <%end%>
      </div>
    </header>
      <%= yield %>
  </body>
</html>