<!DOCTYPE html>
<html>
  <head>
    <title>Where do you wnat to eat today?</title>
    <link type="text/css" rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <h1>"Where to Eat"</h1>
      <div id="login">
        <% if !current_user? %>
          <form action="/login" method="post">
            <label>email
              <input type='text' name='email'/>
            </label>
            <label>password
              <input type='password' name='password'/>
            </label>
            <input type ="submit" value="login"/>
          </form>
        <%else%>
          <p> Hello! <%=current_user.name %> </p>
          <a href="/logout" > logout</a>
        <%end%>
      </div>
    </header>
      <%= yield %>
  </body>
</html>