<!DOCTYPE html>
<html>
  <head>
    <title>Where do you wnat to eat today?</title>
    <link type="text/css" rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <header >
      <div id="logo" class="cloudy"><h1>Where2Eat</h1></div>
    </header>
     <nav id="home" class="cloudy">
      <ul>
        <li>
          <a href="/" >Home</a>
        </li>
        
        <% if !current_user? %>
        <li>
          login
          <form action="/login" method="post">
            <label>email
              <input type='text' name='email'/>
            </label>
            <label>password
              <input type='password' name='password'/>
            </label>
              <input type ="submit" value="login"/>
          </form>
        </li>
        <%else%>
         |
        <li> 
          <a href="/new_event">Create Event</a>
        </li> |
        <li>
          <a href="/logout">Log Out</a>
        </li>
        <%end%>
       </ul> 
    </nav>
      <%= styled_flash %>
      <%= yield %>
  </body>
</html>