<form action="/create_event" method="post">
  <label>Name of Event:
    <input type="text" name="name">
  </label>
  <label>Event Date:
    <input type="date" name="event_date">
  </label>
    <input type="submit" value="create event">
</form>