<!DOCTYPE html>
<form action="/create_event" method="post">
  <label>Name of Event:
    <input type="text" name="name">
  </label>
  <label>Event Date:
    <input type="datetime-local" name="event_date">
  </label><br>
    <input type="submit" value="create event">
</form>