<!DOCTYPE html>
<div id ="userhome">
<h1><%= @user.name %>'s events</h1>
</div>
<!-- show all events that user is associated with -->
<section id="all_events">
<ol>
<%@events.each do |event|%>
  <li><a href="/view_event/<%=event.id%>"><%=event.name_of_event%></a> | <%=event.event_date.strftime("%F")%></li>
<%end%>
</section>
</ol>

