
body{
  font-family: 'proxima-nova','Helvetica Neue', Arial, Helvetica, sans-serif;
  padding:10px;
  margin:10px;
  background-color: #CBDA53;
  min-width:600px;
    
}

header{
  width: 100%;
  display: inline-block;
  border: 2px solid white;
  border-radius: 10px;
  height:250px;
  background-image: url("/img/banner.jpg")
}

div#logo{
  float: left; 
  margin-top: 30px;
  margin-left: 30px;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: bounceIn;
}

.cloudy {
  border-radius: 10px; 
  background-color: white;
  opacity: 0.7;
}

h1{
  padding: 10px;
  margin: 0px;
}

nav#home {
  display: inline-block;
  width: 100%;
  float: left;
  text-decoration: none;
  margin-bottom: 4px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color:blue;
  transform: scale(1.1);
}

h2 a:hover {
  color:red;
  transform: scale(1.1);
}

nav#home li {
  background: inherit;
}
nav form {
  color: black;
  display: inline-block;
}

.subsection {
  float: left;
  width: 45%;
  margin-right: 10px;
  padding-left: 10px;
}

.error {
  color: red;
}

#cancel {
  background-color: red;
  color: white;
  font-weight: bolder;
}

input#cancel:hover {
    color: black;
    background-color:rgba(255,204,0,0.8);
}
/* Index.erb */
section#info{
  border: 4px solid white;
  border-radius: 10px;
  float: left;
  width: 46%;
  padding: 5px;
  font-size: 14px;
}
section#signup{
  border: 4px solid white;
  border-radius: 10px;
  float: right;
  width: 46%;
  padding: 5px;
}
section#event-details {
  float: left;
  margin-bottom: 25px;
  padding-left:10px;
  padding-bottom:10px;
  width: 99%;
  margin-right: 70px;
}
section#restaurant-details {
  margin-top: 55px;
  display: block;
  padding-left:10px;
  padding-bottom:10px;
}
h2 {
  width: 100%;
  padding: 0px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.all_events{
  float right;
  text-decoration: none;
  font-style: bold;

}
table {
  border-collapse: collapse;
}
td {
  font-size: 12px;
  border: 1px solid black;
  text-align: center;
}
th {
  border: 1px solid black;
  background-color: #406288;
  color: white;
}

label{
  width: 150px;
  font-weight: bold;
  font-family: Arial;
  font-size: 15px;
  display: inline-block;

}
nav li{
  font-family: Arial;
  font-size: 15px;
  color: white;
  background: black;
  display: inline;
  text-decoration: none;
}
li a{
  text-decoration: none;
  display: inline-block;
}

input[type=submit] {
    color:#08233e;
    font:5em Arial;
    font-size:80%;
    /* ... other rules ... */
    cursor:pointer;
    opacity: 1;
}

input[type=submit]:hover {
    background-color:rgba(255,204,0,0.8);
}

@-webkit-keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity:0.7;
  }
}